<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <% if session[:name] %>
      <a href="/stop-session">stop session</a>
      | <a href="/add-song-to-session-songs">add favorite song</a>
      | logged in as <%= session[:name] %>
    <% else %>
      <a href="/start-session">start session</a>
    <% end %>
    <h1>Fav Songs</h1>
    <%= yield %>
  </body>
</html>
