<!DOCTYPE html>
<html>
  <head>
    <style>
      body {background-color: #eee; color: #777;}
      h1 {text-align: center; color: #88f;}
      a {color: #b22; text-decoration: none;}
      table {margin: auto;}
      td {border-top: 2px #777 dotted;padding: 0 2em 0 2em;}
    </style>
  </head>
  <body>
    <% if session[:name] %>
      <a href="/stop-session">logout</a>
      | <a href="/add-song-to-session-songs">add favorite song</a>
    <% else %>
      <a href="/start-session">login</a>
    <% end %>
    <h1>
      <% if session[:name] %>
        <%= session[:name] %>'s 
      <% end %>
      Fav Songs</h1>
    <%= yield %>
  </body>
</html>
