<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <a href="/start-session">start session</a> |
    <a href="/stop-session">stop session</a>
    <% if session[:name] %>
      | logged in as <%= session[:name] %>
    <% end %>
    <h1>Fav Songs</h1>
    <%= yield %>
  </body>
</html>
