<h2>Enter One of Your Favorite Songs</h1>
<p>All fields are mandatory!<p>
<form action="/add-song-to-session-songs" method="post">
  artist: <input name="artist"><br>
  album: <input name="album"><br>
  song name: <input name="name"><br>
  youtube link: <input name="youtube"><br>
  <input type="submit">
</form>
