<% if session[:songs] %>
  <% unless session[:songs].length == 0 %>
    <table>
      <tr>
        <th>artist</th>
        <th>album</th>
        <th>song name</th>
        <th>youtube</th>
      </tr>
      <% session[:songs].each do |song| %>
        <tr>
          <td><%= song[:artist] %></td>
          <td><%= song[:album] %></td>
          <td><%= song[:song_name] %></td>
          <td><a href="<%= song[:youtube] %>">watch</a></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
