<!DOCTYPE html>
<html>
  <head>
    <title>My first Sinatra Application</title>
    <meta charset="utf-8">
    <meta name="keywords" content="html, tutorial, learning">
    <meta name="description" content="This is a page about HTML and CSS">
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/greet_me">Greet Me</a>
    <hr>
    <%= yield %>
  </body>
</html>
