<h1>Greet Me</h1>

<form action="/greet_me" method="post">
  <label for="full_name">What is your name?</label>
  <input type="text" id="full_name" name="full_name">
  <input type="submit" value="Greet me!">
</form>
